* {
    box-sizing: border-box;
}
html {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    position: relative;
    background: url(img/cork-board.jpg) repeat top center;
    background-size: 1280px auto;
    margin: 0;
    padding: 1px;
    overflow-x: hidden !important;
}
input:focus,    /*REMOVE ALL BORDER BASIC ELEMENTS*/
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* LOADING PAGE */

.loading-page-bg {
    position: fixed;
    background: black;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: 99999;
    animation: bg-fade-out 8s normal forwards;
    animation-iteration-count: 1;
}
@keyframes bg-fade-out {
    0% {opacity: 1;}
    90% {opacity: 1;}
    99% {opacity: 0;}
    100% {opacity: 0; z-index: -1;}
}

.loading-page {
    position: fixed;
    background: none;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: 99999;
    /* overflow: hidden; */
    animation: loading-fade-out 8s normal forwards;
    animation-iteration-count: 1;
    opacity: 1;
}
@keyframes loading-fade-out {
    0% {opacity: 0;}
    20% {opacity: 1;}
    30% {opacity: 1;}
    90% {opacity: 1;}
    99% {opacity: 0;}
    100% {opacity: 0; z-index: -1;}
}
.animate-logo{
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    animation: logo-moving 7.4s normal forwards;
    width: 226px;
    height: 226px;
    /* animation-iteration-count: 4; */
}
.loading-text {
    font-family: 'Poor Story', cursive;
    letter-spacing: 3px;
    font-weight: 600;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: white;
    text-align: center;
    animation: loading-text 7.4s normal forwards;
}
@keyframes loading-text {
    0% {opacity: 0;}
    30% {opacity: 1;}
    80% {opacity: 1;}
    85% {opacity: 1; top: 65%}
    100% {opacity: 1; top: 150%;}
}
/* @keyframes logo-moving {
    0% {top: 50%}
    50% {top: 40%}
    100% {top: 50%}
} */
@keyframes logo-moving {
    0% {top: 40%}
    10% {top: 50%}
    20% {top: 40%}
    30% {top: 50%}
    40% {top: 40%}
    50% {top: 50%}
    60% {top: 40%}
    70% {top: 50%}
    80% {top: 30%}
    90% {top: 62%; opacity: 1}
    100% {top: -50%; opacity: 0}
}
.border-top {
    position: absolute;
    border-radius: 50%;
    border: 8px rgba(255,255,255,0) solid;
    border-top: 8px white solid;
    width: 226px;
    height: 226px;
    z-index: 9999;
    animation: border-top-fadein 8s normal forwards;
    animation-iteration-count: 1;
}
@keyframes border-top-fadein {
    0% {opacity: 0; top: -20px; width: 300px; height: 300px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
    20% {opacity: 1; top: 0px; width: 226px; height: 226px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
    100% {opacity: 1; top: 0px; width: 226px; height: 226px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
}
.border-right {
    position: absolute;
    border-radius: 50%;
    border: 8px rgba(255,255,255,0) solid;
    border-right: 8px white solid;
    width: 226px;
    height: 226px;
    z-index: 9999;
    animation: border-right-fadein 8s normal forwards;
    animation-iteration-count: 1;
}
@keyframes border-right-fadein {
    0% {opacity: 0;}
    20% {opacity: 0; right: -20px; width: 300px; height: 300px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
    40% {opacity: 1; right: 0px; width: 226px; height: 226px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
    100% {opacity: 1; right: 0px; width: 226px; height: 226px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
}
.border-bottom {
    position: absolute;
    border-radius: 50%;
    border: 8px rgba(255,255,255,0) solid;
    border-bottom: 8px white solid;
    width: 226px;
    height: 226px;
    z-index: 9999;
    animation: border-bottom-fadein 8s normal forwards;
    animation-iteration-count: 1;
}
@keyframes border-bottom-fadein {
    0% {opacity: 0;}
    40% {opacity: 0; bottom: -20px; width: 300px; height: 300px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
    60% {opacity: 1; bottom: 0px; width: 226px; height: 226px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
    100% {opacity: 1; bottom: 0px; width: 226px; height: 226px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
}
.border-left {
    position: absolute;
    border-radius: 50%;
    border: 8px rgba(255,255,255,0) solid;
    border-left: 8px white solid;
    width: 226px;
    height: 226px;
    z-index: 9999;
    animation: border-left-fadein 8s normal forwards;
    animation-iteration-count: 1;
}
@keyframes border-left-fadein {
    0% {opacity: 0;}
    60% {opacity: 0; left: -20px; width: 300px; height: 300px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
    80% {opacity: 1; left: 0px; width: 226px; height: 226px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
    100% {opacity: 1; left: 0px; width: 226px; height: 226px; transform: translate(-50%, -50%); left: 50%; top: 50%;}
}


/* LOGO TOP */

.logo-top {
    margin: 60px 10px -20px 10px;
    height: 214px;
    color: black;
}
.logo {
    position: relative;
    top: -55px;
    transform: translateX(-50%);
    left: 50%;
    width: 535px;
}
.logo img {
    width: auto;
    height: auto;
}
.logo p {
    font-size: 22px;
    position: absolute;
    transform: rotate(-1.5deg);
    font-family: 'Gaegu', cursive;
    letter-spacing: 1px;
}
.logo-text-top {
    top: 72px;
    left: 130px;
}
.logo-text-bottom {
    top: 115px;
    right: 120px;
}
.logo .mylogo {
    position: absolute;
    top: 15px;
    right: 440px;
    width: 80px;
    height: 80px;
}

/*ELEMENTS AROUND POSITIONING*/

#invisible-wrapper {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 850px;
    min-height: 420px;
    /* min-height: calc(100vh - 376px); */
    /* height: calc(auto - 376px); */
    height: auto;
    max-height: auto;
    margin: 0 auto;
    padding: 20px 30px;
}
#canvas {
    background-color:none;
    position: absolute;
    left: -450px;
    top: -150px;
    z-index: 1;
}
.clock-twine-left,
.clock-twine-right {
    position: absolute;
    left: -450px;
    top: -100px;
    width: 400px;
    height: 400px;
}
.clock-twine-left {
    border-top: 4px solid rgb(51, 51, 51);
    transform: rotate(-70deg);
    top: -275px;
    left: -340px;
}
.clock-twine-right {
    border-right: 4px solid rgb(51, 51, 51);
    top: -280px;
    left: -560px;
    transform: rotate(-20deg)
}
div.note-desk-red,
div.note-desk-green {
    position: absolute;
}
.note-desk-red {
    right: -420px;
    top: -150px;
}
.to-do-circle, .to-do-circle img {
    position: absolute;
    height: 350px;
    width: 350px;
    right: -225px;
    top: -90px;
}
.note-desk-green {
    left: -380px;
    bottom: -140px;
}
.note-desk-green img {
    width: 100%;
    height: 100%;
    max-width: 270px;
    max-height: 270px;
}
.note-desk-green p {
    position: absolute;
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    top: 58px;
    left: 50px;
    transform: rotate(-5deg);
}
.note-desk-green div {
    position: absolute;
    border-top: 1.5px solid black;
    height: 14px;
}
.note-desk-green div.cross-out-line-1 {
    width: 38px;
    bottom: 113px;
    left: 67px;
    border-radius: 50%;
    transform: rotate(8deg);
}
.note-desk-green div.cross-out-line-2 {
    width: 43px;
    bottom: 111px;
    left: 67px;
    transform: rotate(-15deg);
}
.postcard img {
    position: absolute;
    right: -800px;
    top: 220px;
}
.postcard .pin-2 {
    position: absolute;
    right: -440px;
    top: 290px;
    width: 42px;
    height: 53px;
}

/* WRAPPER */

div#wrapper {
    position: relative;
    width: 90%;
    max-width: 850px;
    height: 100% auto;
    /* min-height: calc(100vh - 376px);
    height: calc(auto - 376px);
    max-height: auto; */
    min-height: 580px;
    background: rgb(255, 255, 236);
    border: .7px solid black;
    margin: 0 auto;
    margin-bottom: 120px;
    box-shadow: 10px 10px 6px rgba(0,0,0,0.6);
    padding: 40px 30px;
    font-family: 'Gloria Hallelujah', cursive;
}
.pin {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    margin: 0 auto;
    width: 50px;
    height: 65px;
    max-width: 53px;
    max-height: auto;
}
h1 {
    text-align: center;
    transform: rotate(4deg);
    color: red;
    display: block;
    margin-top: 10px;
}
h1 .double-underline {
    position: relative;
    top: -10px;
    left: -10px;
    margin: 0 auto;
    transform: rotate(-2deg);
    border-top: 3px solid red;
    border-radius: 50% 35%;
    height: 10px;
    width: 120px;
}
.datetime {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
}
.nav-icons {
    color: black;
    width: 24px;
    height: 24px;
    float: right;
    cursor: pointer;
    margin: 0 0 0 18px;
}
@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}
@page { /*Deleting default date, title and link from print view*/
    size: auto;
    margin: 0mm;
}


/* LI STUFF */

ol {
    padding: 0 0 0 45px;
    margin: 0 0 80px 0;
}
li {
    position: relative;
    margin: 25px 0;
}
.list-border {
    border-bottom: .7px solid black;
    width: calc(100% - 32px);
    max-width: 720px;
    word-wrap: break-word;
}
.checked {  /*JS*/
    text-decoration: line-through;
    color: green;
    font-size: 16px;
    opacity: 0.7;
}

.delete-button,
.done-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: inherit;
}
.delete-button {
    right: 0;
    color: red;
    transition: all .3s;
}
.delete-button:hover {
    transition: all .3s;
    font-size: 22px;
}
.done-button {
    position: absolute;
    left: -45px;
    height: 20px;
    width: 20px;
    border: 2px green solid;
    background-color: none;
}
li p {
    display: none;
}
 p.green-initial-display { /*JS*/
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin: 0;
    left: -40px;
    color: green;
    display: block;
    z-index: -1;
    opacity: 0.7;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

#add-task {
    display:flex;
    align-self: flex-end;
    position: absolute;
    width: 100%;
    left: 20px;
    bottom: 30px;
}
#add-task button {
    position: absolute;
    text-align: center;
    margin: auto;
    right: 46px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    border: 2px #FDFFEB solid;
    transition: all .5s;
    color: rgb(129, 129, 129);
    transform: rotate(0deg);
}
#add-task button div {
    position: relative;
}
#add-task button p {
    position: absolute;
    top: -22.2px;
    right: -8px;
    margin: 0;
    font-size: 40px;
    height: 30px;
    width: 30px;
}
#add-task button:hover {
    color: black;
    transition: all 1s;
    transform: rotate(360deg);
}

input[type=text],
::placeholder {
    height: 40px;
    width:calc(100% - 190px);
    margin: 0px 87px 0px 10px;
    border: none;
    border-bottom: .4px solid black;
    background-color: inherit;
    font-family: inherit;
    font-size: 17px;
    flex:1
}

input[type=text]:focus {
    border-bottom: .4px solid black;
}
::placeholder {
    text-align: center;
    color: rgb(153, 153, 120);
}
.red-placeholder::placeholder {
    color: red;
}


/* FOOTER */

footer {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(img/footer-1.png) repeat center center;
    filter: drop-shadow(0 -3px 15px black);
    border-top: 1px solid black;
}
footer p {
    font-family: 'Cormorant Unicase', serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto;
}
.social-info {
    position: relative;
    width: 430px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.social-info a {
    background: url(img/GitHub-Mark/GitHub-Mark-32px.png) center center no-repeat;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    right: 0px;
    transition: all .7s ease-in-out;
}
.social-info a:hover {
    background: url(img/GitHub-Mark/GitHub-Mark-32px-white.png) center center no-repeat;
    transition: all .7s ease-in-out;
}
.footer-pencil {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    width: 20px;
    height: 20px;
    margin: 0;
}
.footer-pencil img {
    position: absolute;
    top: -27px;
    left: -100px;
}



/* RWD */

@media only screen and (max-width: 1024px) {
    #invisible-wrapper {
        display: none;
    }
    div#wrapper {
        padding: 40px 30px;
        min-height: calc(100vh - 376px);
        height: calc(auto - 376px);
        max-height: auto;
    }
}

@media only screen and (max-width: 468px) {
    @keyframes logo-moving {
        0% {top: 30%}
        10% {top: 40%}
        20% {top: 30%}
        30% {top: 40%}
        40% {top: 30%}
        50% {top: 40%}
        60% {top: 30%}
        70% {top: 40%}
        80% {top: 20%}
        90% {top: 59%; opacity: 1}
        100% {top: -50%; opacity: 0}
    }
    .logo-top {
        margin: 0px 10px -80px 10px;
    }
    .logo {
        top: 0;
        width: 290px;
        height: 200px;
    }
    .logo img {
        width: 290px;
        height: auto;
    }
    .logo p {
        font-size: 17px;
        letter-spacing: 1px;
    }
    .logo-text-top {
        top: 30px;
        left: 70px;
    }
    .logo-text-bottom {
        top: 54px;
        right: 45px;
    }
    .logo .mylogo {
        position: absolute;
        top: 5px;
        right: 230px;
        width: 50px;
        height: 50px;
    }
    div#wrapper {
        padding: 10px 15px;
        min-height: calc(100vh - 256px);
        height: calc(auto - 256px);
        max-height: auto;
    }
    #invisible-wrapper {
        min-height: 420px;
        display: none;
    }
    .datetime {
        font-size: 12px;
    }
    .pin {
        top: 12px;
        width: 34px;
        height: 45px;
    }
    h1 {
        font-size: 22px;
        margin: 5px;
    }
    h1 .double-underline {
        top: -6.7px;
        left: -10px;
        width: 80px;
    }
    .nav-icons {
        width: 20px;
        height: 20px;
        margin: 7px 0 0 18px;
    }
    li {
        margin: 0px 0px 10px 0px;
    }
    .list-border {
        border-bottom: .4px solid black;
        font-size: 10px;
        width: calc(100% - 22px);
        max-width: 720px;
    }
    ol {
        padding: 0 0 0 27px;
        margin: 0 0 40px 0;
    }
    .done-button {
        left: -27px;
        height: 17px;
        width: 17px;
        border: 2px green solid;
    }
    p.green-initial-display { /*JS*/
        left: -24px;
    }
    input[type=text],
    ::placeholder {
        height: 22px;
        width: calc(100% - 190px);
        margin: 0px 62px 0px 0px;
        font-size: 10px;
    }
    #add-task {
        width: 100%;
        left: 20px;
        bottom: 15px;
    }
    #add-task button {
        right: 28px;
        bottom: 0px;
        width: 30px;
        height: 30px;
    }
    footer {
        height: 40px;
    }
    .footer-pencil img {
        top: -20px;
        height: 20px;
        width: 580px;
    }
    footer p {
        font-size: 15px;
        letter-spacing: 0px;
    }
    .social-info {
        width: 300px;
    }
    .social-info a {
        width: 32px;
        height: 32px;
        top: -7px;
        right: 0px;
    }

}